*{
    margin: 0;
    padding: 0;
    border-block: 0;
    font-family: sans-serif;
}

body{
    text-align: center;
    background-color: white;
    display: grid;
}
main{
    display: grid;
}

/*----first section----*/
.first-section {
    background-image: url(bg-hero-desktop.svg);
    background-position: fill;
    display: flex;
    flex-direction: column;
}
/*fist flex*/
.first-flex{
    display: flex;
    margin: 3rem 5rem;
}
.first-btn{
    margin-left: 52rem;
    box-shadow: 2px 2px 5px black;
    text-align: right;
    color: black;
    background-color: white;
    padding: 15px 50px;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    transition: .4s;
    white-space: nowrap;
    filter: brightness(1);
}
.first-btn:hover{
    filter: brightness(2);
}
/*second flex*/
.second-flex{
    display: flex;
}
/* image*/
.mockups-img{
    height: 75vh;
    width: auto;
    padding: 20px;

}
/* get start and article*/
.first-article{
    text-align: left;
    margin: 7rem 5rem;
    padding: 10px;
}
.first-article h1{
    font-size: 40px;
    font-weight: solid;
    margin-bottom: 30px;
    line-height: 150%;
}
.first-article p{
    font-size: 17px;
    line-height: 150%;
}
/*getstarted button*/
.sec-btn{
    margin: 2rem 0;
    padding: 15px 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    color: white;
    background-color: rgb(216, 38, 172);
    text-decoration: none;
    border: none;
    font-weight: bold;
    transition: .4s;
    white-space: nowrap;
    filter: brightness(1);
}
.sec-btn:hover{
    filter: brightness(2);
}
/*----section section----*/
.second-section{
    display: grid;
}
/*---image---*/
.images{
    height: 40vh;
    width: auto;
    margin: 20px;
}
/*--second section,flex--*/
.sec-flex{
    display: flex;
    margin: 2rem 10rem;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
/* first flex */
.first-sec-flex-article h2{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin: 5rem 0 20px 4rem;
}
.first-sec-flex-article p{
    text-align: left;
    font-size: 15px;
    line-height: 150%;
    margin: 0 10rem 0 4rem;
}
/* second flex */
.second-sec-flex h2{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin: 5rem 0 20px 10rem;
}
.second-sec-flex p{
    text-align: left;
    font-size: 15px;
    line-height: 150%;
    margin: 0 0 0 10rem;
}
/* third flex */
.third-sec-flex h2{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin: 5rem 0 20px 4rem;
}
.third-sec-flex p{
    text-align: left;
    font-size: 15px;
    line-height: 150%;
    margin: 0 9rem 0 4rem;
}
/*-- last flex--*/
.overlap{
    display: grid;
    margin: 2rem 20rem;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    padding: 3rem 2rem;
}
.overlap h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px auto;
}
.overlap-sec-btn{
    margin: 2rem auto;
    margin-bottom: 1rem;
    padding: 20px 5rem;
    border-radius: 30px;
    box-shadow: 2px 2px 5px black;
    color: white;
    background-color: rgb(216, 38, 172);
    text-decoration: none;
    border: none;
    font-weight: bold;
    transition: .4s;
    white-space: nowrap;
    filter: brightness(1);
}
.overlap-sec-btn:hover{
    filter: brightness(2);
}
/*----footer----*/
footer{
    background-color:  #0D252E;
    display: flex;
    color: white;
    text-decoration: none;
    border: none;
    height: 60vh;
    margin-top: -8rem;
    padding: 9rem 2rem 1rem 2rem;
    text-align: justify;
}
.first-footer{
    display: grid;
    width: 50vh;
}
/*--foot logo--*/
.footer-img{
    height: 35px;
    width: auto;
    justify-content: left;
    margin-left: 20px;
}
/*-- address, email, telephone number--*/
.footer-article p{
    padding: 20px 0;
    font-size: 14px;
    justify-content: left;
    display: flex;
}
.footer-images{
    height: 2.5vh;
    width: auto;
    margin: 5px 20px;
}
/*-- about, what we do, FAQ--*/
.second-footer{
    justify-content: left;
    margin: auto 4rem auto 8rem;
}
.second-footer p a{
    text-decoration: none;
    color: white;
}
.second-footer p a:hover{
    text-decoration: underline;
}
.second-footer p{
    margin-top: 2rem;
}
/*-- Career, Blog, Contact Us--*/
.third-footer{
    justify-content: left;
    margin: auto 4rem auto 8rem;
}
.third-footer p{
    margin-top: 2rem;
}
.third-footer p a{
    text-decoration: none;
    color: white;
}
.third-footer p a:hover{
    text-decoration: underline;
}
/*----last footer----*/
.last-footer{
    display: grid;
}
.icon{
    margin: 8rem 4rem auto 8rem;
    display: flex;
}
.social-icon{
    height: 5vh;
    width: auto;
    margin: 10px;
    justify-content: left;
}
.copyright{
    justify-content: right;
}
.copyright p{
    font-size: small;
    text-align: right;
}