* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: block;
    background-color: white;
}

/*first section*/
.first-section {
    background-image: url(bg-hero-desktop.svg);
    background-position: fill;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.first-flex {
    display: flex;
}

.first-section svg {
    text-align: left;
}

.first-btn {
    margin-left: 50rem;
    box-shadow: 2px 2px 5px black;
    text-align: right;
    color: black;
    background-color: white;
    padding: 10px 50px;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    transition: .4s;
}

/* second flex*/
.second-section{
    display: grid
    1
    2
    3
    4;

}
.first-sec-flex{
    grid-area: 1;
}
.second-sec-flex{
    grid-area: 2;
}
.third-sec-flex{
    grid-area: 3;
}
.overlap{
    grid-area: 4;
}
.second-flex {
    padding: 20px;
    display: flex;
    text-align: center;
    height: 100vh;
}

.second-flex div {
    text-align: left;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.second-flex h1 {
    text-align: left;
    margin: 20px;
    font-weight: bold;
    font-size: 3rem;
    padding: 20px;
}

.second-flex p {
    text-align: left;
    margin: 20px;
    font-size: 20px;
    padding: 20px;
}

.second-flex input {
    padding: 10px;
    height: auto;
    width: 100%;
}

/*get started button*/
.second-flex button {
    box-shadow: 2px 2px 5px black;
    text-align: left;
    margin: 35px;
    color: white;
    background-color: rgb(216, 38, 172);
    padding: 15px 50px;
    border-radius: 30px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    transition: .4s;
}

.second-flex button:hover {
    color: rgb(240, 174, 223);
}

/*second-section*/
second-section {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.first-sec-flex {
    display: flex;
    margin: 15rem 15rem 1.5rem 15rem;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.first-sec-flex input {
    align-items: right;
    height: 40vh;
    width: auto;
    margin: 20px;
}

.first-sec-flex h2 {
    align-items: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.first-sec-flex p {
    font-size: 17px;
}

/*second flex*/
.second-sec-flex {
    display: flex;
    margin: 2rem 15rem;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.second-sec-flex input {
    align-items: left;
    height: 35vh;
    width: auto;
    margin: 20px;
}

.second-sec-flex h2 {
    align-items: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.second-sec-flex p {
    font-size: 17px;
    margin-left: 40px;
}

/*third flex*/
.third-sec-flex {
    display: flex;
    margin: 2rem 15rem;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.third-sec-flex input {
    align-items: right;
    height: 40vh;
    width: auto;
    margin: 20px;
}

.third-sec-flex h2 {
    align-items: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.third-sec-flex p {
    font-size: 17px;
}

/* 3rd section*/
.overlap {
    position: absolute;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 3.5rem;
    margin: 2rem 20rem 0 20rem;

}

.overlap h1 {
    font-size: 30px;
    margin-bottom: 1.5rem;
}

.overlap button {
    box-shadow: 2px 2px 5px black;
    text-align: left;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(216, 38, 172);
    padding: 15px 50px;
    border-radius: 30px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    transition: .4s;
}

/* footer segment*/
footer {
    background-color: rgb(5, 10, 24);
    margin-top: 10rem;
    position: relative;
    display: flex;
    color: white;
    font-size: 12px;
}

.footer-img {
    height: auto;
    width: 20%;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

/*first flex*/
.first-footer {
    width: 25rem;
}

.first-footer p {
    text-align: left;
    width: 65%;
    margin-left: 5rem;
    margin-bottom: 2rem;
    text-decoration: none;
    display: flex;

}

.first-footer p input {
    height: 3vh;
    width: auto;
    margin: 10px;
}

/*second flex*/
.second-footer {
    margin-top: 10rem;
    align-items: left;
    text-decoration: none;
    width: 15rem;
}

.second-footer p {
    text-align: left;
    margin-bottom: 1rem;
    font-style: normal;
    text-decoration: none;
    color: white;
}

.second-footer p:hover {
    color: rgb(216, 38, 172);
    transition: .4s;
}

/*third flex*/
.third-footer {
    margin-top: 10rem;
    align-items: left;
    text-decoration: none;
    width: 15rem;
}

.third-footer p {
    text-align: left;
    margin-bottom: 1rem;
    font-style: normal;
    text-decoration: none;
    color: white;
}

.second-footer p:hover {
    color: rgb(216, 38, 172);
    transition: .4s;
}

/*last flex*/
.last-footer {
    display: flex;
    width: 25rem;
}

.last-footer p {
    margin-top: 20rem;
    width: 80%;
    text-align: center;
}
/*.grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-area: 
    1 1 1 1
    2 2 2 2;
}
.overlap{
    margin-top: 200px;
    grid-area: 1;
}
footer{
    grid-area: 2;
}
*/